div[lite="alert"] {
  @apply relative w-full rounded-lg border px-4 py-3 text-sm grid grid-cols-[0_1fr] gap-y-0.5 items-start;
}
div[lite="alert"]:has(> svg) {
  @apply grid-cols-[calc(var(--spacing)*4)_1fr] gap-x-3;
}
div[lite="alert"] > svg {
  @apply size-4 translate-y-0.5 text-current;
}
div[lite="alert"][default] {
  @apply bg-card text-card-foreground;
}
div[lite="alert"][destructive] {
  @apply bg-card text-destructive;
}
div[lite="alert"][destructive] > svg {
  @apply text-current;
}
div[lite="alert"] *[lite="alert-title"] {
  @apply col-start-2 line-clamp-1 min-h-4 font-medium tracking-tight;
}
div[lite="alert"] *[lite="alert-description"] {
  @apply text-muted-foreground col-start-2 grid justify-items-start gap-1 text-sm [&_p]:leading-relaxed;
}
div[lite="alert"][destructive] *[lite="alert-description"] {
  @apply text-destructive/90;
}