/**
  Here you can customize the color theme and general variables. In the future,
  we plan to make ready-made themes that you can easily choose between by
  adding a class to the html element.
*/

@theme {
  --radius: 0.375rem;
  --color-background: #0a0a0a;
  --color-foreground: #fafafa;
  --color-card: #171717;
  --color-card-foreground: #fafafa;
  --color-popover: #262626;
  --color-popover-foreground: #fafafa;
  --color-primary: #e5e5e5;
  --color-primary-foreground: #171717;
  --color-secondary: #262626;
  --color-secondary-foreground: #fafafa;
  --color-muted: #262626;
  --color-muted-foreground: #a1a1a1;
  --color-accent: #404040;
  --color-accent-foreground: #fafafa;
  --color-destructive: #ff6568;
  --color-destructive-foreground: #df2225;
  --color-border: #ffffff1a;
  --color-input: #ffffff26;
  --color-ring: #737373;
}